<!-- What is injected and shown on the homepage. -->
<!-- Title  -->
<div class="row">
  <div class="col-sm-12">
    <h1>League Stat Tracker</h1>
    <h4>Welcome to the League Stat Tracker.</h4>
  </div>
</div>

<!--  Button to go to summoner page (may be able to replace with a search bar instead) -->
<div class="row">
  <div class="col-sm-12">
    <button type="submit" class="btn btn-warning"
      ng-click="go('/summoner')"
    >
      Search for a Summoner
    </button>
  </div>
</div>

<!-- Weekly free champion information, displayed in a slideshow. -->
<h2>This week's champion rotation:</h2>
<ngBgSlideshow></ngBgSlideshow>





