<!-- 
  Popup window when user clicks on a champion icon while looking at recent matches.
  The name of the summoner should be displayed instead of the ID, this would require an API call with a list of summoner IDs to get their names.
-->
<div class="row">
  <div class="col-sm-12">
    <table class="table table-inverse">
      <tbody>
        <tr class="modal-table">
          <td>Player</td>
          <td>{{ player.id }}</td>
        </tr>
        <tr class="modal-table">
          <td>Champion</td>
          <td>{{ player.champ[0].name }}, {{ player.champ[0].title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Load a better image of the champion. -->
<div class="row">
  <div class="col-sm-12 champ-load-img">
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ player.champ[0].key }}_0.jpg"/>
  </div>
</div>

 
