<!-- Displays the summoner's info and stats. -->
<div class="row">
  <div class="col-sm-3 profile-icon">
    <img class="img-rounded"
      ng-src="{{ iconUrl }}"
      alt="" 
    />
  </div>
  <div class="col-sm-9 summoner-info">
    <table class="table table-inverse table-borderless">
      <tbody>
        <tr>
          <td class="col-sm-3">Summoner Name:</td>
          <td class="col-sm-3" ng-bind="summoner.value.name"></td>
          <td class="col-sm-3">Division:</td>
          <td class="col-sm-3">
            {{ summoner.rank[summoner.value.id].name ? summoner.rank[summoner.value.id].name : 'N/A' }}
          </td>
        </tr>
        <tr>
          <td class="col-sm-3">ID:</td>
          <td class="col-sm-3" ng-bind="summoner.value.id"></td>
          <td class="col-sm-3">Rank:</td>
          <td class="col-sm-3">
            {{ summoner.rank[summoner.value.id].tier ? summoner.rank[summoner.value.id].tier + ' ' + summoner.rank[summoner.value.id].entries[0].division + ' LP: ' + summoner.rank[summoner.value.id].entries[0].leaguePoints : 'N/A' }}
          </td>
        </tr>
        <tr>
          <td  class="col-sm-3">Level:</td>
          <td class="col-sm-3" ng-bind="summoner.value.summonerLevel"></td>
          <td  class="col-sm-3">Ranked W/L:</td>
          <td class="col-sm-3"> 
            {{ summoner.rank[summoner.value.id].entries[0].wins ? 'W: ' + summoner.rank[summoner.value.id].entries[0].wins + ' L: ' + summoner.rank[summoner.value.id].entries[0].losses : 'N/A' }} 
          </td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr/>

<!-- Lets users toggle between different types of graphs. -->
<div class="row">
  <div class="col-sm-12 summoner-stat-btns">
    <button class="btn btn-warning stat-btn"
      ng-click="getData('wins', 'Total Wins')"
    >Wins</button>
    <button class="btn btn-warning stat-btn"
      ng-click="getData('totalchampionkills', 'Total Champions Killed')"
    >Champion Kills</button>
    <button class="btn btn-warning stat-btn"
      ng-click="getData('totalassists', 'Total Assists')"
    >Assists</button>
    <button class="btn btn-warning stat-btn"
      ng-click="getData('totalturretskilled', 'Total Turrets Destroyed')"
    >Turrets Destroyed</button>
    <button class="btn btn-warning stat-btn"
      ng-click="getData('totalminionkills', 'Total Minions Killed')"
    >Minion Kills</button>
    <button class="btn btn-warning stat-btn"
      ng-click="getData('totalneutralminionskilled', 'Total Neutral Minions Killed')"
    >Neutral Minion Kills</button>
  </div>
</div>

<!-- Graph of summoner's various game stats. -->
<div class="row">
  <div class="col-sm-12 summoner-stats">
    <div class='chart'
      data-ac-chart="'bar'" 
      data-ac-data="data" 
      data-ac-config="config"
    >
    </div>
  </div>
</div>
