<!-- Users can look up a summoner's stats here. -->
<div class="row" ng-controller="summonerController">
  <div class="col-sm-12">
    <h1>Summoner Stats</h1>
  </div>
</div>
<!-- Search area for summoners. Region can be selected and there is validation for entry length based on League sign up name standards. -->
<form role="form" name="searchForm"
  ng-submit="summonerSearch(searchForm.$valid)"
  novalidate 
>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <div class="input-group-btn">
            <select class="btn btn-warning summoner-search" 
              name="repeatSelect" 
              ng-model="regions.value[6]" 
              ng-options="option.name for option in regions.value track by option.id"
            >
            </select>
        </div>
        <input type="text" class="form-control input summoner-search"
          name="searchName"
          ng-model="searchName"
          placeholder="Enter summoner name."
          ng-minlength="4"
          ng-maxlength="24"
          required 
        />
        <div class="input-group-btn">
          <button type="submit" class="btn btn-warning summoner-search"
          ng-click="submitted=true"
        >
          Search
        </button>
        </div>
      </div>
    </div>
  </div>
  <p ng-show="searchForm.searchName.$invalid && submitted">
    Summoner name must be between 4 and 24 characters long.
  </p>
</form>

<!-- Collection of tab panels the user can go through. -->
<div class="row">
  <div class="col-sm-12">
    <tabset>
      <tab heading="Info">
        <summonerinfo></summonerinfo>
      </tab>

      <tab heading="Recent">
        <summonerrecent></summonerrecent>
      </tab>

      <tab heading="Runes">
        <summonerrunes></summonerrunes>
      </tab>

      <tab heading="Masteries">
        <summonermasteries></summonermasteries>
      </tab>
    </tabset>
  </div>
</div>


            