<!-- 
  Ideally masteries will display on the actual masteries page from LoL, but it looks like they have to be placed on an empty .jpg image programatically.
  masteries -> get images -> stick them on template -> mouseover info
-->
<h2>Coming soon</h2>
<!-- {{ summoner.masteries }} -->