<!-- 
  Ideally should display on the actual rune page image, but LoL constant API only provides a blank jpg image, need to get the rune images and place them programatically 
-->

<h2>Coming soon</h2>
<!-- <img ng-src="https://s3-us-west-1.amazonaws.com/riot-api/img/rune-bg.png"/> -->
<!-- {{ summoner.runes }} -->