/* Used to set the same background image for all pages. */
body {
  background:               url('/images/bg.jpg') no-repeat center fixed;
  -webkit-background-size:  cover;
  -moz-background-size:     cover;
  -o-background-size:       cover;
  background-size:          cover;
  color:                    #f5c270;
  font-family:              Arial, Helvetica, sans-serif;
}

/* Sets the container div so it will clear the navbar. */
.container {
  position:                 absolute;
  top:                      50px;
  width:                    100%;
  height:                   100%;
  text-align:               center;
}

/* Sets the injected page view display. */
.page {
  left:                     0;
  bottom:                   0;
  position:                 absolute;
  width:                    100%;
  height:                   100%;
}

/* Consistent headings for all pages */
.page h1 {
  margin:                   10px;
  text-align:               center;
  font-size:                3em; 
  color:                    #f5c270;
}

/* Used as a seperator between divs. */
hr {
  border-top:               1px solid #f09d1f;
  margin:                   5px 0 5px 0;
}

/* Makes sure navbar is on top of everything else. */
header nav.navbar {
  z-index:                  9000;
  margin:                   0;
}

/* Used to style the drop down select for selecting region. */
select {
  height:                   34px;
}

/* Styling for the tabs */
.tab {
  width:                    100%;
  display:                  table;
  float:                    none;
}
.nav-tabs > li, .nav-pills > li {
  float:                    none;
  display:                  inline-block;
}
.nav-tabs, .nav-pills {
  text-align:               center;
  border-bottom:            1px solid #f5c270;
}
.ng-binding {
  color:                    #f5c270;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color:         #f5c270;
  border:                   none;
}



