/* Styling for the search bar at the top. */
.summoner-search.btn-warning {
  color:            #555555;
}
.summoner-search.input {
  background-color: #cccccc;
  border:           1px solid #f09d1f;
}

/* General styling for the summoner info div */
.summoner-info {
  text-align:     left;
  padding:        0;
  padding-left:   10px;
}

/* Centers the summoner profile icon. */
.profile-icon {
  padding-top:    10px;
  padding-left:   10px;
}
.profile-icon > img {
  display:        block;
  margin:         auto;
  left: 0;
  right: 0;
  border:         2px solid #f09d1f;
}

/* Table for displaying summoner info. */
.summoner-info > table {
  table-layout:   fixed;
  word-wrap:      break-word;
  margin:         auto;
  font-size:      1em;
}
.summoner-info > td {
  width:          10%;
  border:         none;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border:         none;
}

/* Styling for the buttons to change graphs. */
.summoner-stat-btns {
  text-align:     center;
}
.stat-btn {
  margin-bottom:  5px;
}

/* Styling for the chart displaying the summoner's stats for various game modes. */
.ac-chart {
  text-align:     center;
  /* !important used here as its css from the CDN cannot be edited */
  width:          100% !important;
}
.chart {
  width:          100%;
  height:         300px;
}
.chart text {
  fill:           #f09d1f;
}
.chart rect {
  fill:           white;
  fill-opacity:   50%;
}
