<!-- 
  Modal that displays the summoner's stats in the match.
  Currently all data is returned, could be tailored.
 -->
<div class="row">
  <div class=col-sm-12>
    <h1>Summoner Match Info</h1>
    <table class="table table-inverse">
      <tbody>
        <tr class="modal-table"
          ng-repeat="(key, val) in recent.stats">
          <td>{{ key }}</td>
          <td>{{ val }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>